VITE_SUPABASE_URL=https://amjwchrpnfftcvfxfjay.supabase.co
VITE_SUPABASE_ANON_KEY=eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6ImFtandjaHJwbmZmdGN2ZnhmamF5Iiwicm9sZSI6ImFub24iLCJpYXQiOjE3NTE3MDI0ODcsImV4cCI6MjA2NzI3ODQ4N30.UjYeFJht6lTlg_82UslWTIz_c7TjkFfLh6u-UFvZmpc